body {
  padding-top: 50px;
}
form {
  padding: 10px;
}
.login, .register {
  padding: 40px 15px;
  text-align: center;
}
.panel-info {
  border-color: #adadad;
}
#loggedIn {
  margin-top: 15px;
  color: #9d9d9d;
}
#regAlert {
  margin: 20px;
}
#loginPanel, #registerPanel {
  max-width: 600px;
  margin: 0 auto;
}
#navbar {
  float: right;
}
#contactsSidebar {
  text-align: center;
}
#contactButton {
  margin-top: 20px;
}
#contactsList {
  padding: 0;
  list-style-type: none;
  margin: 20px 0 100px 0;
}
#newContactForm {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px #adadad;
  padding-top: 0;
  position: fixed;
}
#addContactTable td {
  padding: 5px;
  width: 175px;
  text-align: right;
}
#addContactButtons {
  padding-top: 20px;
  float: left;
}
#contactDetailsDiv {
  min-width: 400px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 50px;
  padding-top: 0;
  box-shadow: 5px 5px 5px #adadad;
  position: fixed;
}
#formRemove {
  float: right;
  color: grey;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
  color: #9d9d9d;
  background-color: #222;
  border-color: #080808;
}
footer p {
  margin-left: 30px;
}
