body {
  padding-top: 50px;
}
form {
  padding: 10px;
}
.login, .register {
  padding: 40px 15px;
  text-align: center;
}
.panel-info {
  border-color: #adadad;
}
#loginPanel, #registerPanel {
  max-width: 600px;
  margin: 0 auto;
}
#navbar {
  float: right;
}
