body {
  padding-top: 50px;
}
form {
  padding: 10px;
}
.login, .register {
  padding: 40px 15px;
  text-align: center;
}
.panel-info {
  border-color: #adadad;
}
#loggedIn {
  margin-top: 15px;
  color: #9d9d9d;
}
#regAlert {
  margin: 20px;
}
#loginPanel, #registerPanel {
  max-width: 600px;
  margin: 0 auto;
}
#navbar {
  float: right;
}
#contactsSidebar {
  text-align: center;
}
#contactButton {
  margin-top: 20px;
}
#contactsList {
  padding: 0;
  list-style-type: none;
}
#contactsList li, #contactsList a li  {
  color: #adadad;
  margin: 5px;
  padding: 10px;
  background-color: #eee;
  text-decoration: none;
}
#contactsList a li:hover {
  color: black;
  background-color: #adadad;
  text-decoration: none;
}
#contactsList a:hover {
  text-decoration: none;
}
#addContactTable {
  /*width: 700px;*/
}
#addContactTable td {
  padding: 5px;
  width: 175px;
  text-align: right;
}
#addContactButtons {
  padding-top: 20px;
  float: left;
}
