<div class="row">
  <div id="contactsSidebar" class="col-xs-3 col-md-3">
    <button id="contactButton" type="submit" class="btn btn-success" ng-click="addingContact()">Add a New Contact</button>
    <h4>Current Contacts</h4>
    <input ng-model="contactFilter" type="text" class="form-control" placeholder="Filter contacts...">
    <div class="list-group" id="contactsList">
      <a href="" ng-repeat="contact in contacts | orderBy:'lastName' | filter:contactFilter" class="list-group-item" ng-click="viewContactDetails(contact.$id);">{{ contact.firstName }} {{ contact.lastName }}</a>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <!-- Div to show the form to add a new contact -->
    <div ng-show="isAddingContact" id="newContactForm">
      <form class="form-inline" name="addContactForm" ng-submit="saveContact()">
      <button type="reset" class="btn btn-default btn-sm" ng-click="isAddingContact = !isAddingContact" id="formRemove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <h3>Add a Contact</h3>
        <table id="addContactTable">
          <tr>
            <td>
              <label for="firstName">First Name</label>
            </td>
            <td>
              <input ng-model="contact.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
            </td>
            <td>
              <label for="lastName">Last Name</label>
            </td>
            <td>
              <input ng-model="contact.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
            </td>
          </tr>
          <tr>
            <td>
              <label for="emailAddress">Email Address</label>
            </td>
            <td>
              <input ng-model="contact.emailAddress" type="email" class="form-control" id="emailAddress" placeholder="Email Address">
            </td>
            <td>
              <label for="phoneNumber">Phone Number</label>
            </td>
            <td>
              <input ng-model="contact.phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
            </td>
          </tr>
          <tr>
            <td>
              <label for="streetAddress">Street Address</label>
            </td>
            <td>
              <input ng-model="contact.streetAddress" type="text" class="form-control" id="streetAddress" placeholder="Street Address">
            </td>
            <td>
              <label for="city">City</label>
            </td>
            <td>
              <input ng-model="contact.city" type="text" class="form-control" id="city" placeholder="City">
            </td>
          </tr>
          <tr>
            <td>
              <label for="country">Country</label>
            </td>
            <td>
              <input ng-model="contact.country" type="text" class="form-control" id="country" placeholder="Country">
            </td>
            <td>
              <label for="zipPostal">ZIP/Postal Code</label>
            </td>
            <td>
              <input ng-model="contact.zipPostal" type="text" class="form-control" id="zipPostal" placeholder="ZIP/Postal Code">
            </td>
          </tr>
        </table>
        <!-- <div id="addContactButtons"> -->
          <button type="submit" class="btn btn-success" ng-click="isAddingContact = !isAddingContact">Add Contact</button>
          <button type="reset" class="btn btn-warning">Reset Form</button>
        <!-- </div> -->
      </form>
    </div>

      <!-- Div to show the details of the contact -->
      <div ng-show="isShowingDetails" id="contactDetailsDiv">
        <h3><strong>{{ contactDetails.firstName }} {{ contactDetails.lastName }}</strong></h3>
        <p><strong>Email Address:</strong> <a href="mailto:{{ contactDetails.emailAddress }}">{{ contactDetails.emailAddress }}</a></p>
        <p><strong>Phone Number:</strong> {{ contactDetails.phoneNumber }}</p>
        <p><strong>Address:</strong> {{ contactDetails.streetAddress }}, {{ contactDetails.city }}, {{ contactDetails.country }} {{ contactDetails.zipPostal }}</p>
        <br />
        <button class="btn btn-info btn-sm">Edit Contact</button>
        <button class="btn btn-danger btn-sm" ng-click="confirmDelete = !confirmDelete">Delete Contact</button>
        <button ng-show="confirmDelete" class="btn btn-danger btn-sm" ng-click="deleteContact(contactDetails.$id)">Yes, delete contact!</button>
      </div>
  </div>
</div>
